body {
    font-family: 'Slabo 27px', serif;
    background-color: whitesmoke;
    width: 90%;
    margin: auto;
}  

header {
    float: right;
    border-bottom: 1px solid;
    padding: 10px;
}

.title {
	float: left;
	width: 25%;
    color:lightgoldenrodyellow;
    background-color: teal;
    font-weight: 900;
    margin: 100px;
}

.content {
	float: right;
	width: 70%;
    
}

section  {
    
	padding: 20px ;
    width: 300px;
    border: 15px solid black;
    padding: 50px;
    margin: 20px;
}

h2 { 
	padding: 20px ;
}

